// Fonts
/* comfortaa-700 - latin_greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/comfortaa-v11-latin_greek-700.eot'); /* IE9 Compat Modes */
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
       url('/fonts/comfortaa-v11-latin_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comfortaa-v11-latin_greek-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comfortaa-v11-latin_greek-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comfortaa-v11-latin_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comfortaa-v11-latin_greek-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
/* comfortaa-regular - latin_greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/comfortaa-v11-latin_greek-regular.eot'); /* IE9 Compat Modes */
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
       url('/fonts/comfortaa-v11-latin_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/comfortaa-v11-latin_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/comfortaa-v11-latin_greek-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/comfortaa-v11-latin_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/comfortaa-v11-latin_greek-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}
